%li= comment.content
%small.text-muted= comment.created_at.strftime("%a,%B %d, %Y at %I:%M%p")
%div
%button.link_button.add-reply Add reply

.reply.d-none
  = form_for [comment, Comment.new], remote: true do |f|
    = f.text_area :content
    = f.hidden_field :user_id, value: current_user.id
    %br
    = f.submit 'Post reply'

%hr

%ul
  - if comment.comments
    - comment.comments.each do |comment|
      = render 'comments/comment', comment: comment
