%h2 Posts

- @stories.each do |story|
  %h4= story.title
  %p=  story.content

= form_with scope: :story, url: stories_create_path, local: true do |f|
  %p
    = f.label :title
    = f.text_field :title
  %p
    = f.label :content
    = f.text_area :content
  %p
    = f.submit 'Create Story'

