%p.display-4= @story.title
%p= @story.content

- if can? :update, @story
  = link_to 'Edit', edit_story_path(@story)

%h4 Comments
%ul{class: "story-comments-section"}
  - @story.comments.each do |comment|
    = render 'comments/comment', comment: comment

%h4 Add comment
=form_with(model: [ @story, @story.comments.build ]) do |form|
  = form.text_area :content, col: 3,class: 'form-control'
  = form.hidden_field :user_id, value: current_user.id
  %br
  = form.submit 'Add comment', class: 'btn btn-success'
